# CLASS IMPLEMENTATION TEST RUN
<img width="374" height="400" alt="Screenshot 2026-09-12 at 11 06 01 PM" src="https://github.com/user-attachments/assets/1b144c73-632a-429a-8b96-624548044474" />
